<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Acceptance</title>
</head>
<body>

<form action="/acceptance" method="post">
    <label>
        <select class="form-control" name="selectId" id="selectId">
            <option value="">Выберите продукт</option>
            <option
                    th:each="product : ${products}"
                    th:value="${product.id}"
                    th:selected="${product.description}"
                    th:text="${product.description}">
            </option>
        </select>
        <input type="number" min="1" step="1" name="quantity" placeholder="Количество">
    </label>
    <button type="submit">Добавить</button>
</form>
</body>
</html>