<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</div>

<div>
    <form method="post">
        <label>
            <input type="text" name="description" placeholder="описание">
        </label>
        <button type="submit">Добавить</button>
    </form>

</div>

<a href="/user">User List</a>
<a href="/checkman/create">Create checkman</a>
</body>
</html>