<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products list</title>
</head>
<body>
<div>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</div>

<div>
    <table border="1">
        <tr>
            <th>description</th>
            <th>quantity</th>
        </tr>

        <tr th:each="product : ${products}">
            <td th:utext="${product.description}">Описание</td>
            <td><a th:href="'/product/'+${product.id}+'/edit'">Редактировать</a></td>
        </tr>
    </table>


    <a href="/addProduct">Обновить номенклатуру</a>

    <a href="/acceptance">Приемка и размещение</a>

    <a href="/boxes">Просмотр коробок</a>

    <a href="/orders/getAll">Все заказы</a>

    <a href="/orders/getAllUnchecked">Необработанные заказы</a>
</div>
