<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</div>

<div>

    <div th:if="${param.error}">
        Invalid username and password.
    </div>

    <form th:action="'/user/' + ${user.username} + '/update'" method="post">

        <input type="hidden" th:value="${user.id}" name="id">
        <div><label> User Name :<input type="text" name="username"></label></div>
        <div><label> password :<input type="text" name="password" ></label></div>
        <div><label> full name :<input type="text" name="fullName" ></label></div>
        <button type="submit">Update</button>
    </form>

</div>

</body>
</html>